
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    font-family: 'Kanit', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header-bar{
    background-color: #624DCE;
    display: flex;
    padding: 15px;
    color: white;
    position: relative;

}
h1{
    text-transform:uppercase ;
    margin-left: 20px;
}
#login-bar{
    display: inline-flex;
    position: absolute;
    right: 16px;
}
.menu-login{
    display: inline-flex;
    padding: 12px 20px;
    width: 150px;
}
.login-icon{
    width: 25px;
    height: auto;
    margin-right: 5px;
    float: left;
}
.menu-login p{
    width: 145px;
}
a{
    text-decoration: none;
}
a:link{
color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: gainsboro;
}
a:active{
    color: white;
}

#paragraph{
    color: #624DCE;
    padding: 9%9%;
    display: inline-flex;
}
h2{
    font-size: 50pt;
    width: 450px;
    line-height: 80px;
}
#paragraph p{
    font-size: 20pt;
    width: 480px;
}
#login-picture{
    float: right;
    clear: left;
}
.search-icon{
    width: 620px;
    height: 380px;
    margin-left: 150px;
    
}
