@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body {
    font-family: 'Kanit', sans-serif;
    background-color: #F4F5FA;
}
.logo{
    margin-top: 5%;
    margin-left: 20px;
    padding: 10px;
}
.logo h2{
    position: relative;
    right: -110px;
    top: -90px;

    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.round{
    border-radius: 50%;
}
/* ======================= sidenav ====================== */
.sidenav {
    float: left;
    background-color: #624DCE;
    height: 64rem;
    width: 20%;
    /* position: fixed; */
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a, .dropdown-btn {
  padding: 8px 8px 8px 30px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
#nav{
  position: relative;
  top: -60px;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: white;
  background-color: #745BF4;
}
.dropdown-container a:hover{
  background-color: #302180;
  
}

.active {
  background-color: #745BF4;
  color: white;
}

.dropdown-btn{
    font-family: 'Kanit', sans-serif;
}
.dropdown-container a{
  font-size: 16px;
  
}
/* Dropdown add a lighter background color */
.dropdown-container {
  display: none;
  background-color: #745BF4;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 20px;
color: #FFFFFF;
}

/* ======================= main ====================== */
/* -------------User Account Dropdown Menu--------------- */
.action{
  float: right;
  margin-right: 25px;
  margin-top: 10px;
}
.action .profile{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.action .profile img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.action .menu{
  position: absolute;
  top: 85px;
  right: 20px;
  padding: 20px 100px;
  background-color: #fff;
  box-sizing: 0 5px 25px #624DCE;
  box-shadow: #a1a1a1bd 0px 0px 8px;
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.action .menu.active{
    visibility: visible;
    opacity: 1;
    text-align: center;
}
.action .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}
.action .menu .profile-pic{
  border-radius: 50%;
}
.action .menu h3{
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 10px 0;
  font-weight: bold;
  color: #624DCE;
  line-height: 1.2em;
}
.action .menu p{
    color: #624DCE;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
}
.action .menu a{
  text-decoration: none;
  color: #8C8C8C;
  text-align: center;
}
.sign-out{
  margin-top: 10px;
  margin-left: 35px;
  background-color: #FFFFFF;
  border-color:#624DCE;
  color: #624DCE;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
}
#edit{
  margin-left: 50px;
}
.sign-out:hover{
  background-color: #624DCE;
  color: white;
}
.sign-out:active{
  background-color: white;
  color: #624DCE;
}


/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media (max-width:576px){
  .sidenav {
    float: left;
    height: 64rem;
    width: 35%;
    /* position: fixed; */
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}


.logo h2{
  position: relative;
  left: -10px;
  top: -18px;

  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
#nav{
  position: relative;
  top: -20px;
}
}