#subject-detail {
    margin-left: 51%;
    margin-top: -13%;
    font-size: 20pt;
    color: #624DCE;
}

.bold {
    font-weight: bolder;
}

#side-box {
    margin-left: 78%;
    margin-top: -48%;
    text-align: center;
}

#all-student {
    font-size: 18pt;
    color: #624DCE;
}

#class-tottal {
    border-radius: 50%;
    background-color: white;
    width: 180px;
    color: #624DCE;
    padding: 5%;
    border: 3px solid #624DCE;

    margin-left: 33%;
}

#section {
    font-size: 18pt;
}

#number-of-student {
    font-size: 28pt;
}

.small {
    font-size: 13pt;

}

#techer-box {
    background-color: #624DCE;
    font-size: 20pt;
    width: 40%;
    padding: 1%;
    border-radius: 25px;
    margin-left: 30%;
}

#ta-box {
    background-color: #3ECBFE;
    font-size: 20pt;
    width: 40%;
    padding: 1%;
    border-radius: 25px;
    margin-left: 30%;
}

#student-box {
    background-color: #FBAA10;
    font-size: 20pt;
    width: 40%;
    padding: 1%;
    border-radius: 25px;
    margin-left: 30%;
    
}

#delete-box {
    background-color: #F7333C;
    font-size: 20pt;
    width: 40%;
    padding: 1%;
    border-radius: 25px;
    margin-left: 30%;
    margin-top: 5%;
}

#delete-botton {
    margin: 0%;
    padding: 4% 1%;
}

a.side-link {
    color: white;
    text-decoration: none;
}

#description-bold {
    font-size: 29pt;
}

#sub-description {
    color: #624DCE;
    font-size: 19pt;
    width: 65%;
}

#description-of-subject {
    margin-left: 32%;
    margin-top: -13%
}