@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    font-family: 'Kanit', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header-bar{
    background-color: white;
    display: flex;
    padding: 15px;
    color: #624DCE;
    position: relative;
   
}
h1{
    text-transform:uppercase ;
    margin-left: 20px;
}
#login-bar{
    display: inline-flex;
    position: relative;
    right: -74%;
}
.menu-login{
    display: inline-flex;
    margin-top: 10px;
    width: 100px;
}
.login-icon{
    width: 25px;
    height: auto;
    margin-right: 5px;
    float: left;
}
.menu-login p{
    width: 90px;
    text-align: center;
    border-radius: 30px;
    padding: 7px;
}
a{
    text-decoration: none;
}
a:link{
color: #624DCE;
text-decoration: none;
}
a:visited{
    color: #624DCE;
}
h1:hover{
    color: #624DCE;
}
a:active{
    color: #624DCE;
}
#sign-up-bt{
    background-color: #624DCE;
    color: white;
    padding: 6px;
}
#sign-up-bt:hover{
    background-color: white;
    color: #624DCE;
    border:#624DCE 1px solid ;
}
#login-bt:hover{
    
    color: #624DCE;
    padding: 6px;
    border:#624DCE 1px solid ;
}
h2{
    color: #624DCE;
    margin-left: 13%;
    margin-top: 2%;
    font-size: 50px;
    font-weight: bold;
}
#login-picture{
    float: right;
    clear: left;
    top: 140px;
    margin-left: 38%;
    position: relative;
}
.search-icon{
    width: 620px;
    height: 380px;
    margin-top: -160%;
    margin-left: -25%;
}
div#text-card ,div.text-mini-card{
    margin-left: 13%;
    margin-top: 1%;
}
.p{
    font-size: 1.2rem;
}
#text-card{
    display: flex;
    gap: 15px;
}

.short-input{
    height: 40px;
    width: 189px;
    padding: 1% 10% 1% 10%;
    border-radius: 18px;
    border: 1px solid rgb(170, 170, 170);
    font-size: larger;
}
.long-input{
    height: 40px;
    width: 397px;
    padding: 1% 1.5% 1% 1.5%;
    border-radius: 18px;
    border: 1px solid rgb(170, 170, 170);
    font-size: larger;
}
#submit{
    margin-left: 13%;
    margin-top: 1%;
    height: 60px;
    width: 397px;
    border-radius: 18px;
    background-color: #624DCE;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 1.4rem;
}
#submit:hover{
    pointer-events: auto;
}
#already{
    margin-left: 17.5%;
    margin-top: 2%; 
    font-size: 1.1rem;
    color: gray;
}