@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    font-family: 'Kanit', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header-bar{
    background-color: white;
    display: flex;
    padding: 15px;
    color: #624DCE;
    position: relative;
   
}
h1{
    text-transform:uppercase ;
    margin-left: 20px;
    font-weight: bold;
}
#login-bar{
    display: inline-flex;
    position: relative;
    right: -1130px;
}
.menu-login{
    display: inline-flex;
    margin-top: 10px;
    width: 100px;
}
.login-icon{
    width: 25px;
    height: auto;
    margin-right: 5px;
    float: left;
}
.menu-login p{
    width: 90px;
    text-align: center;
    border-radius: 30px;
    padding: 7px;
}
a{
    text-decoration: none;
}
a:link{
color: #624DCE;
}
a:visited{
    color: #624DCE;
}
h1:hover{
    color: #624DCE;
}
a:active{
    color: #624DCE;
}
#sign-up-bt{
    background-color: #624DCE;
    color: white;
    padding: 6px;
}
#sign-up-bt:hover{
    background-color: white;
    color: #624DCE;
    border:#624DCE 1px solid ;
}
#login-bt:hover{
    color: #624DCE;
    padding: 6px;
    border:#624DCE 1px solid ;
}
h2{
    color: #624DCE;
    margin-left: 13%;
    margin-top: 4%;
    font-size: 60px;
    font-weight: bold;
}
#login-picture{
    float: right;
    clear: left;
    top: 140px;
    margin-left: 38%;
    position: fixed;
}
.search-icon{
    width: 620px;
    height: 380px;
    margin-left: 150px;
    
}
#username ,#password{
    margin-left: 13%;
    margin-top: 1%;
    height: 60px;
    width: 400px;
    border-radius: 18px;
    border: 1px solid rgb(170, 170, 170);
    padding: 1% 2% 1% 2%;
    font-size: larger;
}
#remember{
    margin-left: 13%;
    margin-top: 1%;
    color: gray;
}
#login{
    margin-left: 13%;
    margin-top: 1%;
    height: 60px;
    width: 400px;
    border-radius: 18px;
    background-color: #624DCE;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 1.4rem;
}
#login:hover{
    pointer-events: auto;
}
#dont{
    margin-left: 17.5%;
    margin-top: 2%; 
    font-size: 1.1rem;
    color: gray;
}